{% load static %}

{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% block content %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container container-margin">
            <a class="navbar-brand">Greetings,Gamer!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %} 
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
    <div class="frame-up">
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="{% url 'account_signup' %}" method="post" name="form">
                <p class="sign-up">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="link">sign in</a>.{% endblocktrans %}</p>
                {% csrf_token %} 
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" class="form-styling" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn  btn-purple tn-animate" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>   
    </div> 
    </div>

    {% endblock %}
</body>
</html>