{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted by <span class="user-txt">{{ post.author }}</span>, on {{ post.created_on}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.get_category_display}}</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.author}}</a>
                </header>
                <!-- Preview image figure-->
                {% if "placeholder" in post.post_image.url %}
                <img class="img-fluid rounded" src="https://res.cloudinary.com/fb44/image/upload/v1652192604/placeholder_dovjbu.jpg" alt="placeholder-image" />
                {% else %}
                <img class="img-fluid rounded" src="{{ post.post_image.url }}"/>
                {% endif %}
               
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.body | safe }}</p>
                </section>
                <div class="row">
                    <div class="col-1 icon-float">
                        <div>
                            {% if user.is_authenticated %}
                            <form class="display" method="post" action="{% url 'blog_upvote' post.slug %}">
                                {% csrf_token %}
                                {% if upvoted %}
                                <button type="submit" value="{{post.slug}}" name="post_id" class="btn btn-danger"><i class="fa fa-arrow-up"></i></button>
                                {% else %}
                                <button type="submit" value="{{post.slug}}" name="post_id" class="btn btn-outline-danger"><i class="fa fa-arrow-up"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary btn btn-outline-danger"><i class="fa fa-arrow-up"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_upvotes }}</span>
                        </div>
                         
                        <div>
                            {% if user.is_authenticated %}
                            <form class="display" method="post" action="{% url 'blog_downvote' post.slug %}">
                                {% csrf_token %}
                                {% if downvoted %}
                                <button type="submit" value="{{post.slug}}" name="post_id" class="btn btn-danger"><i class="fa fa-arrow-down"></i></button>
                                {% else %}
                                <button type="submit" value="{{post.slug}}" name="post_id" class="btn btn-outline-danger"><i class="fa fa-arrow-down"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary btn btn-outline-danger"><i class="fa fa-arrow-down"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_downvotes }}</span>
                        </div>
                        
                    </div> 
                </div>    
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% csrf_token %}
                        {% if commented %}
                        <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                        </div>
                        {% else %}
                        {% if user.is_authenticated%}
                                <form class="mb-4" method="post">Share Your Thoughts With Us,<span class="user-txt"> {{ user.username }}!</span>
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="margin-top: 1.3em;">Submit</button>
                        </form>
                        
                        {% endif %}
                        {% endif %}
                    
                        <!--Comments-->
                        {% for comment in comments %}
                     
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" width="50px" height="50px" src="https://res.cloudinary.com/fb44/image/upload/v1652192604/placeholder_dovjbu.jpg" alt="placeholder-image.." /></div>
                            <div class="ms-3">
                                <div class="fw-bold"> {{ comment.name }}, posted on {{ comment.created_on }}</div>
                                {{ comment.body | linebreaks }}
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <form method="post" action="{% url 'search' %}" class="d-flex">
                            {% csrf_token %}
                            <input  name="searched" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Upcoming Events</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.eventsforgamers.com/event/gacucon-2022/" target="_blank">Gagucon 2022</a></li>
                                <li><a href="https://www.eventsforgamers.com/event/big-festival-2022-online/" target="_blank">Big Festival</a></li>
                                <li><a href="https://expo.nikkeibp.co.jp/tgs/2021/en/" target="_blank">Tokyo GS</a></li>
                                <li><a href="https://www.egx.net/london/en-gb.html" target="_blank">EGX London</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.eventsforgamers.com/event/fxp-festival-2022-hybrid/" target="_blank">FXP Festival</a></li>
                                <li><a href="https://www.eventsforgamers.com/event/gaming-by-sea-summer-2022/" target="_blank">Gaming By Sea</a></li>
                                <li><a href="https://www.eventsforgamers.com/event/develop-brighton-2022/" target="_blank">Develop Brighton</a></li>
                                <li><a href="https://www.gamescom.global/en" target="_blank">Gamescon</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Games Widget-->
            <div class="card mb-4">
                <div class="card-header">Recommended Games</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.ea.com/games/apex-legends" target ='_blank'>Apex Legends</a></li>
                                <li><a href="https://en.bandainamcoent.eu/elden-ring/elden-ring" target ='_blank'>Elden Ring</a></li>
                                <li><a href="https://www.gran-turismo.com/" target ='_blank'>Gran Turismo 7</a></li>
                                <li><a href="https://genshin.hoyoverse.com/" target ='_blank'>Genshi Impact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.rockstargames.com/gta-v" target ='_blank'>GTA V</a></li>
                                <li><a href="https://quarrygame.2k.com/" target ='_blank'>The Quarry</a></li>
                                <li><a href="https://playvalorant.com/en-us/" target ='_blank'>Valorant</a></li>
                                <li><a href="https://www.callofduty.com/warzone" target ='_blank'>Warzone</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Recommended Streamers</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li class="img-circle"><img src="/static/media/images/fuslie.png" height="25" width="25" alt="Fuslie"><a href="https://www.twitch.tv/fuslie" target ='_blank'>Fuslie</a></li>
                                <li class="img-circle"><img src="/static/media/images/jarnoopmeer.png" height="25" width="25" alt="JarnoOpmeer"><a href="https://www.twitch.tv/jarnoopmeer" target ='_blank'>JarnoOpmeer</a></li>
                                <li class="img-circle"><img src="/static/media/images/kyedae.png" height="25" width="25" alt="Kyedae"><a href="https://www.twitch.tv/kyedae" target ='_blank'>Kyedae</a></li>
                                <li class="img-circle"><img src="/static/media/images/tyler1.png" height="25" width="25" alt="LolTyler1"><a href="https://www.twitch.tv/loltyler1" target ='_blank'>LolTyler1</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li class="img-circle"><img src="/static/media/images/nickmercs.png" height="25" width="25" alt="NickMercs"><a href="https://www.twitch.tv/nickmercs" target ='_blank'>NickMercs</a></li>
                                <li class="img-circle"><img src="/static/media/images/timthetatman.jpg" height="25" width="25" alt="TimTheTatMan"><a href="https://www.youtube.com/user/timthetatman" target ='_blank'>TimTheTatMan</a></li>
                                <li class="img-circle"><img src="/static/media/images/valkyrae.jpg" height="25" width="25" alt="valkyrae"><a href="https://www.youtube.com/c/Valkyrae1" target ='_blank'>Valkyrae</a></li>
                                <li class="img-circle"><img src="/static/media/images/xqc.jpeg" height="25" width="25" alt="XQC"><a href="https://www.twitch.tv/xqc" target ='_blank'>XQC</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>     
{%endblock%}