{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted by{{ post.author }}, on {{ post.created_on}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.get_category_display}}</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.author}}</a>
                </header>
                <!-- Preview image figure-->
                {% if "placeholder" in post.post_image.url %}
                <img class="img-fluid rounded" src="https://res.cloudinary.com/fb44/image/upload/v1652192604/placeholder_dovjbu.jpg" alt="..." />
                {% else %}
                <img class="img-fluid rounded" src="{{ post.post_image.url }}"/>
                {% endif %}
               
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.body | safe }}</p>
                </section>
                <div class="row">
                    <div class="col-1 icon-float">
                        <strong class="text-secondary"><i class="fa fa-arrow-up"></i> {{ post.number_of_upvotes }} </strong>
                    </div>
                    <div class="col-1">
                        <strong class="text-secondary"><i class="fa fa-arrow-down"></i> {{ post.number_of_downvotes }} </strong>
                    </div>    
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% csrf_token %}
                        {% if commented %}
                        <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                        </div>
                        {% else %}
                        {% if user.is_authenticated%}
                        <form class="mb-4" method="post"><textarea class="form-control" rows="3" placeholder="Share Your Thoughts With Us, {{ user.username}}!"></textarea>
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="margin-top: 1.3em;">Submit</button>
                        </form>
                        <!--<input class="btn btn-primary" type="submit" value="Submit">-->
                        {% endif %}
                        {% endif %}
                    
                        <!-- Single Comment-->
                        {% for comment in comments %}
                     
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{ comment.name }}, posted on {{ comment.created_on }}</div>
                                {{ comment.body | linebreaks }}
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Annoucements</a></li>
                                <li><a href="#!">News</a></li>
                                <li><a href="#!">Opinion</a></li>
                                <li><a href="#!">Previews</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Streaming</a></li>
                                <li><a href="#!">Reviews</a></li>
                                <li><a href="#!">Tech</a></li>
                                <li><a href="#!">Miscellaneous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{%endblock%}